<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 p-20">
  <p class="text-xl font-bold">In this code, we use a docker file to build the container and run
    the corresponding test suite to guarantee the functionality
    of the application using github actions.</p>
  <p>The code:</p>
  <pre class="bg-gray-200 p-4 rounded-lg">
    <code class="text-sm">
      <span class="text-blue-500">name</span>: CI

      <span class="text-blue-500">on</span>: [push, pull_request]

      <span class="text-blue-500">jobs</span>:
        <span class="text-blue-500">build</span>:

          <span class="text-blue-500">runs-on</span>: ubuntu-latest

          <span class="text-blue-500">steps</span>:
            - <span class="text-blue-500">uses</span>: actions/checkout@v2

            - <span class="text-blue-500">name</span>: Build <span class="text-blue-500">the</span> Docker image
              <span class="text-blue-500">run</span>: docker build . <span class="text-gray-500">--file Dockerfile --tag my-image</span>

        - <span class="text-blue-500">name</span>: Run tests
          <span class="text-blue-500">run</span>: docker <span class="text-blue-500">run</span> <span class="text-blue-500">my</span>-image python -m unittest discover

        - <span class="text-blue-500">name</span>: Deploy
          <span class="text-blue-500">if</span>: ${{ success() }}
          <span class="text-blue-500">run</span>: docker push $SOME_REGISTRY/$SOME_REPO:<span class="text-blue-500">my</span>-image</span>
    </code>
  </pre>
</body>

</html>